        .roboto-flex {
            font-family: "Roboto Flex", sans-serif;
            font-optical-sizing: auto;
            font-weight: inherit;
            font-style: normal;
            font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" -140, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
        }
        
        @font-face {
            font-family: ROBO;
            src: url(../fonts/ROBO.ttf);
        }
        
        body {
            position: relative;
        }
        
        .content {
            /*margin-left: 220px;*/
        }
        /************************/
        
        canvas {
            display: block;
            width: 100%;
            height: 50%;
            overflow: hidden;
        }
        
        .canvas-container {
            width: 1920px;
            height: 1080px;
            /*height: 100%;*/
            border: 1px solid black;
            position: absolute;
            z-index: 0;
            left: 0px;
        }