body {
    margin: 0;
    overflow: hidden;
    /* El scroll se desbloquea después de la animación */
    font-family: sans-serif;
    height: 200vh;
    /* Sección de contenido más abajo */
}

#hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
}

#content {
    background: #f0f0f0;
}

#content img {
    width: 100%;
}